.parent {
  width: 370px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border-radius: 4px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}

.button_line {
  position: absolute;
  display: block;
}

.button_line_top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background:linear-gradient(90deg, transparent, #2196f3);
}

.parent:hover .button_line_top {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button_line_bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background:linear-gradient(270deg, transparent, #2196f3);
}

.parent:hover .button_line_bottom {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button_line_left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background:linear-gradient(0deg, transparent, #2196f3);
}

.parent:hover .button_line_left {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0s;
}

.button_line_right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background:linear-gradient(180deg, transparent, #2196f3);
}

.parent:hover .button_line_right {
  top: 100%;
  transition: 1s;
  transition-delay: 0s;
}

.parent:hover {
  box-shadow: 0 0 10px #2196f3, 0 0 40px #fbffb4, 0 0 80px #fce735;
  transition: 1s;
  background-color: #fbffb4;
  transition-delay: 0.25s;
}

.brand {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.color {
  height: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.iconShadow{
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7));
}
